<div class="panel panel-default row">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Member</h3>
  </div>
  <div class="panel-body">
    <div class="input-group">
      <label>First Name</label>
      <input class="form-control" #newFirst required>
    </div>

    <div class="input-group">
      <label>Last Name</label>
      <input class="form-control" #newLast required>
    </div>

    <div class="input-group">
      <label>Role</label>
      <input class="form-control" #newRole required>
    </div>

    <div class="input-group">
      <label>Bio</label><br>
      <textarea class="form-control" #newBio required></textarea>
    </div>

    <div class="input-group">
      <label>Profile Pic URL</label>
      <input class="form-control" #newPicture required>
    </div>

    <br>
    <button class="btn btn-success" (click)="submitForm(newFirst.value, newLast.value, newRole.value, newBio.value, newPicture.value); newFirst.value=''; newLast.value=''; newRole.value=''; newBio.value=''; newPicture.value='';"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
</div>
<div>
  <app-all-people></app-all-people>
</div>
