
<div class="pull-left">
  <label>New First</label><br>
  <input [(ngModel)]="selectedMember.first">
  <br>

  <label>New Last</label><br>
  <input [(ngModel)]="selectedMember.last">
  <br>

  <label>New Role</label><br>
  <input [(ngModel)]="selectedMember.role">
  <br>
</div>

<button (click)="showSuccess()">Let's See</button>

<div class="pull-center">
  <label>New Bio</label><br>
  <textarea [(ngModel)]="selectedMember.bio"></textarea><br>
  <label>New Profile Picture (URL)</label>
  <input [(ngModel)]="selectedMember.profileImg">
</div>
<button class="btn btn-warning" (click)="updateMember(selectedMember)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
<button class="btn btn-danger"(click)="deleteMember(selectedMember)">
<i class="fa fa-trash" aria-hidden="true"></i></button>
